.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  margin-bottom:50px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.room-list {
  margin-top: 20px;
  font-size: large;
}

.chat-area{
  width: 80%;
  height: 150px;
  background-color: #f1f4f5;
  border: solid 2px #660000;
  margin: auto;
}

.room-button{
  margin-top: 20px;
  font-size: large;
}

.participant-list{

  margin-bottom: 5px;
  font-size: medium;
}

li {
   list-style-type: none;
}
